---
layout: page-col
title: Documentation
permalink: /docs/
category: docs
---

<div class="home">

	<div class="bg-alert-box row">
		<div class="col-sm-8 col-xs-12">
			Installation complète en moins de 10 minutes avec <a href="https://heroku.com/deploy?template=https://github.com/bullit-io/bullit" target="_blank">Heroku</a>
			<p class="detail">Carte bleue requise mais non débitée.</p>
		</div>
		<div class="col-sm-4 col-xs-12">
			<a href="https://heroku.com/deploy?template=https://github.com/bullit-io/bullit" target="_blank"><img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy"></a>
		</div>
	</div>
	
	<hr/>
	
	{% for categorie in site.data.docs %}
		<h2 class="page-heading">{{ categorie.title-long }}</h2>
		<p class="bg-info-box">{{ categorie.desc }}</p>
		{% include _docs/docs_panels.html docs=categorie.docs %}
	{% endfor %}

</div>