---
layout: page-col
title: Documentation
permalink: /docs/
---

<div class="home">

	<div class="bg-alert-box row">
		<div class="col-xs-6">
			Installation rapide avec Heroku : <a href="https://heroku.com/deploy?template=https://github.com/bullit-io/bullit" target="_blank"><img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy"></a>
		</div>
		<div class="col-xs-6">
			<span class="detail">Installation complète en moins de 10 minutes</span>
			<span class="detail">Carte bleue requise mais non débitée.</span>
		</div>
	</div>

	{% for categorie in site.data.docs %}
		<h2 class="page-heading">{{ categorie.title-long }}</h2>
		<p class="bg-info-box">{{ categorie.desc }}</p>
		{% include _docs/docs_panels.html docs=categorie.docs %}
	{% endfor %}

</div>