<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="6000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://img.bullit.io/screenshots/dashboard.png" alt="">
      <div class="carousel-caption">
        <p class="lead">Création rapide et simple de murs contributifs (Walls)</p>
        <p>L'organisation en colonnes du Dashboard permet de piloter facilement plusieurs Walls simultanément</p>
        <div class="bloc">
          <ul class="smally">
            <li>Affichez ou masquez vos walls dans l'admin au besoin</li>
            <li>Recherches Twitter et numéro de téléphone pour les SMS indépendants pour chaque Wall</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://img.bullit.io/screenshots/wall.png" alt="">
      <div class="carousel-caption">
        <p class="lead">Thèmes personnalisables pour chaque Wall public</p>
        <div class="bloc">
          <ul class="smally">
            <li>édition depuis le navigateur avec mise à jour en temps réel des écrans connectés</li>
            <li>édition manuelle: template HTML, CSS, LESS pour un controle total</li>
            <li>export en cloud et partage (en cours)</li>
          </ul>
        </div>

      </div>
    </div>
    <div class="item">
      <img src="http://img.bullit.io/screenshots/modal_admin.png" alt="">
      <div class="carousel-caption">
        <p class="lead">Prévisualisation d'un lien intégré</p>
        <p>Décompression automatique et recherche des contenus riches (photo, vidéo, ...) dans les messages</p>

      </div>
    </div>
    <div class="item">
      <img src="http://img.bullit.io/screenshots/modal_wall.png" alt="">
      <div class="carousel-caption">
        <p class="lead">Affichage des médias intégrés</p>
        <p>Depuis le Dashboard, ouverture des médias ou messages dans des bulles</p>
      </div>
    </div>
    
  </div>

</div>