
header.site-header {
    .navbar-inverse {
        //background-color: #222;
        background-image: linear-gradient(to bottom, #2c2c2c 0px, #1e1e1e 100%);
        box-shadow: 6px 0 8px rgba(0, 0, 0, 0.698);
    }
    .navbar-inverse:after {
        background-image: $bg-neige;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        opacity: 0.35;
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar-inverse > div {
        position: relative;
        z-index: 2;
    }
    .navbar-brand{
        padding: 0 15px 0;
        color: $brand-color;
        line-height: 50px;
        font-size: 26px;
        img.app-logo {
            background-color: $brand-color;
            float: left;
            margin: 5px 15px;
        }
    }

}

@media (max-width: $screen-xs) { 
    .container.page-content {
        padding-left: 0;
        padding-right: 0;
    }
}


h2 {
    color: $brand-color;
    font-size: 24px;
}

.page-content .wrapper {
    background-color: #595959;
    box-shadow: 0 0 8px #000;
    position: relative;

    hr {
        border-width: 1px 0;
        border-style: solid none;
        border-top-color: #404040;
        border-bottom-color: #606060;
        margin: 30px 0;
    }
}

.page-content .wrapper:after {
    background-image: $bg-neige;
    bottom: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    left: 0;
    opacity: 0.30;
    position: absolute;
    right: 0;
    top: 0;
}

.page-content .wrapper > div {
    position: relative;
    z-index: 2;

    & > header {
        padding: 20px 15px;
        background-color: #333;
        color: $brand-color;
        border-bottom: 1px solid #222;
        h1 {
            font-size: 28px;
            margin-bottom: 5px;
            font-weight: 100;
            &.page-heading-home {
                margin: 10px;
                text-align: center;
            }
        }

        @media (min-width: $screen-sm) { 
            h1 {
                font-size: 34px;
                &.page-heading-home {
                    margin: 25px;
                }
            }
        }

        .navbar-toggle {
            border: 1px solid #666;
            .icon-bar {
                background-color: #999;
            }
        }
    }

    & > .section > ul {
        margin-left: 0;
        & > li {
            list-style-type: none;
        }
    }

    & > article,
    & > .section,
    & > .wrapper-col article {
        padding: $spacing-unit / 3;
        @media (min-width: $screen-sm) { padding: $spacing-unit / 2; }
        @media (min-width: $screen-md) { padding: $spacing-unit; }
        border-top: 1px solid #5e5e5e;
        /*border-bottom: 1px solid #363636;*/

        p {
            margin-bottom: $spacing-unit;
            &.lead {
                color: $brand-color;
            }
        }

        p > code, li > code, small > code, a > code {
            background-color: #7e7e7e;
            color: #fff;
        }

        pre {
            background-color: #333;
            border-color: #5c5c5c #747474 #747474 #5c5c5c;
            border-style: solid;
            border-width: 1px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
            color: #eee;
            padding: 10px;
        }
        
        ul.docs-block {
            margin-top: 20px;
            li.doc-detail {
                color: #333;
                margin-bottom: 15px;
                h3 {
                    font-size: 18px;
                    margin-bottom: 0;
                }
                p.doc-description {
                    color: #999;
                    margin: 10px 0;
                    font-style: italic;
                }
            }
        }

        .bg-alert-box {
            /*background-color: rgba(50, 50, 50, 0.2);*/
            background-color: rgba(51, 51, 51, 0.75);
            border-color: #5c5c5c #747474 #747474 #5c5c5c;
            border-radius: 6px;
            border-style: solid;
            border-width: 1px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
            color: #eee;
            /*font-size: 80%;*/
            padding: 10px;
            margin: 0;
            text-align: center;
            // font-weight: bold;
            img {
                border: 3px solid #fff;
                background-color: #fff;
                border-radius: 4px;
                margin-top: 5px;
            }
            & > div > p.detail {
                font-size: 85%;
                font-style: italic;
                font-weight: normal;
                color: #999;
                margin-bottom: 0;
            }
        }

    }
    
    @media (max-width: $screen-sm - 1) { 
        .col-menu {
            display: none;
        }
    }
    
    & .menu-top,
    & .col-menu {
        .wrapper-col & {
            padding-right: 15px;
        }
        padding-left: 0;

        & > h3 {
            background-color: #222;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 0;
            padding: 10px 15px;
        }

        & ul {
            background-color: #333;
            margin-left: 0;
            & > li {
                &.current > a {
                    /*background-color: #292929;*/
                    border-left: 3px solid $brand-color;
                    padding-left: 12px;
                }
                & > a {
                    border-radius: 0;
                    &:hover, &:focus {
                        background-color: #292929;
                    }
                }
            }
            
        }
        
    }
}


/*.post-meta {*/
.bg-info-box {
    background-color: rgba(50, 50, 50, 0.2);
    border-color: #5c5c5c #747474 #747474 #5c5c5c;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
    color: #ccc;
    /*font-size: 80%;*/
    padding: 6px 10px;
    margin-bottom: 15px;
}




footer {
    padding: 15px 0;
    background-color: #3e3e3e;
    border-top: 1px solid #525252;

    .footer-col {
        z-index: 2;
        ul {
            list-style-type: none;
        }

        .logo-footer {
            text-align: center;
            & > img{
                margin: 0 auto;
                width: 100px;
                height: auto;
                opacity: .6;
            }
        }

        .text {
            font-size: 13px;
            color: #888;
            text-shadow: 0 -1px 1px #232323;
        }
    }
    
}


.carousel {
    height: 250px;
    padding: 0;
    .carousel-indicators {
        bottom: 0;
    }
    .carousel-inner {
        height: 250px;

        & > .item, & > .item.active.left {
            width: 100%;
            height: 250px;
            margin: 0;
            padding: 0;

            & > img {
                width: auto;
                float: left;
                max-height: 250px;
                border: 5px solid #eee;
                margin: 0;
            }

            .carousel-caption {
                bottom: 0;
                color: #fff;
                left: 0;
                padding-bottom: 0;
                padding-top: 0;
                position: relative;
                right: 0;
                // text-align: center;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                z-index: 10;
                h2{
                    margin-top: 15px;
                }
                p.lead {
                    padding-top: 20px;
                }
                div.bloc {
                    text-align: left;
                    margin-left: 50%;
                    ul.smally {
                        font-size: 85%;
                        color: #bbb;
                        li {
                            margin-left: 25px;
                        }
                    }
                }

            }
        }

        
    }

    
}